body {
  margin: 0 200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.tittle{
  margin: 100px 0;
}
.tittle h1{
  font-size: 60px;
  margin-bottom: 0;
}
.tittle p{
  margin-top: 0;
  margin-bottom: 30px;
}

.card{
  background-color: rgb(224, 224, 224);
  margin-bottom: 20px;
}